@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

.lb-contain {
  padding: 50px;
}
.head {
  font-family: "Jost", sans-serif;
  font-size: 48px;
  text-align: center;
  font-weight: 400;
}
.desc {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 0 170px;
}
.lb-pos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.lb-banner {
  display: block;
  align-items: center;
  background-image: url("../../assets/lb.png");
  background-repeat: no-repeat;
  background-position: center;
border-radius: 30px;
}
.lb-img {
  margin-top: -20px;
  align-items: center;
  padding: 50px 250px;
}
.lb-tit {
  margin-top: -25px;
  font-size: 24px;
  font-weight: 500;
  color: #f8f9fa;
  text-align: center;
}
.lb-red {
  font-size: 18px;
  color: #f40469;
  font-weight: 700;
  text-align: center;
}
.lb-logo {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lg{
  cursor: pointer;
  transition: filter 0.5s ease-in-out; /* Smooth transition effect */
  filter: grayscale(100%);
}
.lg:hover{
  color: #f40469;
  filter: grayscale(0%);
}
@media (max-width: 600px) {
  .head {
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    font-family: "Jost", sans-serif;

  }
  .desc {
    font-size: 16px;
    text-align: center;
    padding: 2px 20px;
  }
  .lb-pos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .lb-pos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
  .lb-banner {
    align-items: center;
    background-image: url("../../assets/lb.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    border-radius: 15px;
  }
  .lb-img {
    width: 15%;
    align-items: center;
   padding: 30px 140px;
  }
  .lb-tit {
    font-size: 12px;
    font-weight: 500;
    color: #f8f9fa;
    text-align: center;
  }
  .lb-red {
    margin-top: -20px;
    font-size: 13px;
    color: #f40469;
    font-weight: 700;
    text-align: center;
  }
  .lb-logo {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media ( min-width:602px) and (max-width:1000px){

  .lb-logo {
    padding: 10px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1450px) {
  .head {
    font-size: 55px;
  }
  .desc {
    font-size: 15px;

    padding: 0 10px;
  }
  .lb-pos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .lb-pos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .lb-banner {
    align-items: center;
    background-image: url("../../assets/lb.png");
    background-repeat: no-repeat;
    background-size: 95%;
    height: 180px;
    width: 300px;
    border-radius: 15px;
  }
  .lb-img {
    height: 40px;
    margin-top: -30px;
    align-items: center;
    margin-left: -120px;
  }
  .lb-tit {
    font-size: 12px;
    font-weight: 500;
    color: #f8f9fa;
    text-align: center;
  }
  .lb-red {
    margin-top: -20px;
    font-size: 13px;
    color: #f40469;
    font-weight: 700;
    text-align: center;
  }
  .lb-logo {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
