.containerr {
  padding: 0 40px;
}
.textt {
  font-size: 24px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}
.details {
  display: flex;
  align-items: center;
}
.span {
  margin-top: -20px;
  margin-bottom: 25px;
  display: flex;
  font-size: 18px;
}
.time {
  padding: 0 40px;
  display: flex;
  align-items: center;
}
.titl {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  font-size: 20px;
}
.tir {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.left1 {
  display: flex;
  gap: 40px;
}
.rightt {
  display: flex;
  gap: 40px;
}

.right1 {
  display: flex;
  flex-direction: column;
}
.right2 {
  display: flex;
  flex-direction: column;
}

.rname {
  font-size: 24px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}
@media (max-width: 600px) {
  .containerr {
    padding: 10px 20px;
  }
  .titl {
    padding: 0 10px;
  }
  .textt {
    font-size: 16px;
  }
  .tir {
    font-size: 15px;
    font-weight: 600;
  }
  .lef-pic {
    padding: 10px 70px;
    width: 67%;
  }
  .r-pic {
    padding: 0 50px;
    width: 80%;
  }
  .rname {
    font-size: 22px;
    text-align: center;
  }
  .left1 {
    flex-direction: column;
  }
  .rightt {
    flex-direction: column;
  }
  .details {
    display: flex;
  }
  .span {
    margin-top: -20px;
    margin-bottom: 5px;
    display: flex;
    font-size: 13px;
    margin-left: 65px;
  }
  .time {
    padding: 0 40px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 605px) and (max-width: 1100px) {
  .rname {
    font-size: 30px;
    text-align: center;
  }
  .left1 {
    flex-direction: column;
    padding: 0 90px;
  }
  .lef-pic {
    padding: 10px 90px;
    width: 84%;
  }
  .r-pic {
    padding: 0 50px;
    width: 95%;
  }
  .rname {
    font-size: 25px;
    text-align: center;
  }
  .rightt {
    flex-direction: column;
  }
  .details {
    display: flex;
  }
  .span {
    margin-top: -20px;
    margin-bottom: 5px;
    display: flex;
    font-size: 19px;
    margin-left: 65px;
  }
  .time {
    padding: 0 40px;
    display: flex;
    align-items: center;
  }
}
