.containerr {
  padding: 0 40px;
}
.textt {
  font-size: 15px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.details {
  display: flex;
  align-items: center;
}
.span {
  margin-top: -20px;
  margin-bottom: 25px;
  display: flex;
  font-size: 18px;
}
.time {
  padding: 0 40px;
  display: flex;
  align-items: center;
}
.titl {
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
  gap: 20px;
  font-size: 20px;
}
.tir {
  font-size: 15px;
  font-weight: 600;
}
.left1 {
  display: flex;
  gap: 40px;
}
.rightt {
  display: flex;
  gap: 40px;
}

.right1 {
  display: flex;
  flex-direction: column;
}
.right2 {
  display: flex;
  flex-direction: column;
}

.rname {
  font-size: 24px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media (max-width: 1048px) {
  .containerr {
    margin: 20px 20px;
  }

  .left1 {
    flex-direction: column;
  }
  .rightt {
    flex-direction: column;
  }
  .details {
    display: flex;
  }
  .span {
    margin-top: -20px;
    margin-bottom: 25px;
    display: flex;
    font-size: 18px;
  }
  .time {
    padding: 0 40px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .containerr {
    margin: 20px 20px;
  }

  .left1 {
    flex-direction: column;
  }
  .rightt {
    flex-direction: column;
  }
  .details {
    display: flex;
  }
  .span {
    margin-top: -20px;
    margin-bottom: 25px;
    display: flex;
    font-size: 18px;
  }
  .time {
    padding: 0 40px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .containerr {
    margin: 190px 20px;
  }
  .lef-pic {
    height: 400px;
    width: 250px;
  }
  .left1 {
    flex-direction: column;
  }
  .rightt {
    flex-direction: column;
  }
  .details {
    display: flex;
  }
  .span {
    margin-top: -20px;
    margin-bottom: 25px;
    display: flex;
    font-size: 18px;
  }
  .time {
    padding: 0 40px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 375px) {
  .containerr {
    margin: 180px 20px;
  }

  .left1 {
    flex-direction: column;
  }
  .rightt {
    flex-direction: column;
  }
  .details {
    display: flex;
    align-items: center;
  }
  .span {
    margin-top: -20px;
    margin-bottom: 25px;
    display: flex;
    font-size: 13px;
  }
  .time {
    display: flex;
    align-items: center;
  }
}
