.containerr {
  padding: 0 40px;
}
.textt {
  font-size: 19px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.details{
  display: flex;
  align-items: center;
}

.titl {
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
}
.tir {
  font-size: 17px;
  font-weight: 600;
}
.left1 {
  display: flex;
  gap: 40px;
}
.rightt {
  display: flex;
  gap: 40px;
}

.right1 {
  display: flex;
  flex-direction: column;
}
.right2 {
  display: flex;
  flex-direction: column;
}

.rname {
  font-size: 24px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.span {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.time {
  align-items: center;
  padding: 0 50px;
}
@media (max-width: 425px) {
  .containerr {
    margin: 190px 20px;
  }
  .lef-pic {
    height: 400px;
    width: 250px;
  }
  .left1 {
    flex-direction: column;
  }
  .rightt {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .containerr {
    margin: 180px 20px;
  }
  .lef-pic {
    height: 400px;
    width: 250px;
  }
  .left1 {
    flex-direction: column;
  }
  .rightt {
    flex-direction: column;
  }
}
