@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 10px 50px;
}

.img {
  padding: 0 70px;
  width: 30%;
}
.right{
  padding: 0 30px;
}
.text-big {
  font-size: 42px;
  font-weight: 700;
  padding: 0 5px;
  font-family: "Jost", sans-serif;
}
.text-small {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
}
.btn-dwn {
  background-color: #ff006e;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}
.btn-dwn:hover {
  background-color: #ff308a;
}
@media (max-width: 600px) {
  .main {
    flex-direction: column;
    align-items: center;
    padding: 2px 20px;
  }
  .img {
  
    width:80%;
  }
  .text-big {
    font-size: 20px;
    padding: 5px 10px;
    
  }

  .btn-dwn {
    background-color: #ff006e;
    color: white;
    border: none;
    margin-left: 100px;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
  }
}
@media ( min-width:602px) and (max-width:1000px){  .main {
   display: flex;
    align-items: center;
    padding: 2px 20px;
  }
  .img {
    width:40%;
  }
  .text-big {
    font-size: 16px;
    padding: 5px 10px;
    text-justify:inter-word;
  }
}


