.background-container {
  position: relative;
  top: -48px;
  height: 540px;

  background-image: url("../../assets/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text-field {
  position: relative;
  top: 145px;
  text-align: center;
}
.text {
  color: #ffffff;
  font-size: 48px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
}
.btn {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
}
.loc {
  padding: 0 22px;
}
.label {
  font-size: 18px;
  padding: 0px 5px;
}
.rec {
  padding: 0 10px;
}
.search {
  border: none;
  font-size: 15px;
  outline: none;
}
.button {
  border: none;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  background-color: #ff006e;
  color: #ffffff;
  font-size: 16px;
  padding: 19px 53px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .background-container {
    background-image: url("../../assets/1.png");
    height: 450px;
    background-position: 69%;
    top: -15px;
  }
  .text {
    color: #ffffff;
    font-size: 16px;
    align-items: center;
  }
  .text-field {
    top: 145px;
    text-align: center;
  }
  .btn {
    position: relative;
    left: 3px;
    align-items: center;
    background-color: #ffffff;
    height: 45px;
    border-radius: 50px;
    align-items: center;
  }
  .loc {
    padding: 0 2px;
  }
  .label {
    font-size: 8px;
    padding: 0px 2px;
  }
  .search {
    display: inline-flex;
    border: none;
    outline: none;
  }
  .button {
    border: none;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    background-color: #ff006e;
    color: #ffffff;
    font-size: 10px;
    padding: 18px 18px;
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  .background-container {
    background-image: url("../../assets/1.png");
    height: 450px;
    background-position: 69%;
    top: -15px;
  }
  .text {
    color: #ffffff;
    font-size: 16px;
    align-items: center;
  }
  .text-field {
    top: 145px;
    text-align: center;
    display:inline-block;
    padding: 2px;
  }
  .btn {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 45px;
    border-radius: 50px;
    align-items: center;
  }
  .loc {
    padding: 0 1px;
  }
  .label {
    font-size: 8px;
    padding: 0px 5px;
  }
  .search {
    border: none;
    outline: none;
   
  
  }
  .button {
    border: none;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    background-color: #ff006e;
    color: #ffffff;
    font-size: 9px;
    padding: 18px 25px;
    cursor: pointer;
    
  }
}

@media (max-width: 320px) {
  .background-container {
    background-image: url("../../assets/1.png");
    height: 450px;
    background-position: 69%;
    top: -15px;
  }
  .text {
    color: #ffffff;
    font-size: 16px;
    align-items: center;
  }
  .search {
    border: none;
    outline: none;
   display: flex;
   min-width: 40%;
  
  }
  .text-field {
    top: 145px;
    text-align: center;
  }
  .btn {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 45px;
    border-radius: 50px;
    align-items: center;
    max-width:60%;
  }
  .loc {
    padding: 0 1px;
  }
  .label {
    font-size: 8px;
    padding: 0px 5px;
  }

  .button {
    border: none;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    background-color: #ff006e;
    color: #ffffff;
    font-size: 9px;
    padding: 18px 14px;
    cursor: pointer;
    
  }

}
