@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
.footer{
  background-color: #f8f9fa;
  background-image: url("../../assets/ft.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size:80%;

}
.fooddb {
  margin: 0;
  font-size: 30px;
  line-height: 48px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #f40469;
  margin-right: 150px;
}
.foot-row1 {
  display: flex;
  padding: 20px 104px;
  gap: 35px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}
.ft-rw1 {
  display: flex;
  font-family: "Jost", sans-serif;
  font-size: 18;
  cursor: pointer;
  transition: font-size 0.3s ease-in-out;
}
.ft-rw1:hover {
  color: #72163cfa;
  font-size: 18.5px;
}
.foot-row2 {
  height: 240px;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  display: flex;
}
.fl {
  display: flex;
}
.ft-col1 {
  padding: 10px 195px;
}
.ft-col2 {
  padding: 10px 20px;
}
.ft-col3 {
  padding: 10px 20px;
}
.ft-col4 {
  padding: 10px 20px;
}


@media  (min-width: 602px)and (max-width: 1000px) {
  .footer{
    background-image: url("../../assets/ft.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size:cover;
  }
  .fooddb {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    margin-right: 5px;
  }
  .foot-row1 {
    display: flex;
    padding: 5px 55px;
    gap: 20px;
    font-size: 18px;
  }
  .ft-rw1 {
    display: flex;
  }
  .foot-row2 {
    padding: 5px 10px;
    display: flex;
    background-color: #f8f9fa;
    margin-left: 80px;
    height: 180px;
    font-size: 13px;
  }
  .ft-col1 {
    padding: 5px 10px;
  }
  .fl {
    display: flex;
    padding: 5px 25px;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .footer{
    background-size:100%;
    background-position: bottom;
  }
  .fooddb {
    margin: 0;
    font-size: 16px;
    margin-right: 10px;
  }
  .foot-row1 {
    padding: 20px;
    gap: 8px;
    font-size: 12px;
  }
  .ft-rw1 {
    cursor: pointer;
    transition: font-size 0.3s ease-in-out;
  }
  .ft-rw1:hover {
    color: #72163cfa;
    font-size: 12.5px;
  }
  .foot-row2 {
    font-size: 12px;
  }
  .ft-col1 {
    padding: 5px 30px;
  }
  .ft-col2 {
    padding: 5px 5px;
  }
  .ft-col3 {
    padding: 5px 5px;
  }
  .ft-col4 {
    padding: 5px 5px;
  }
}
