.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  line-height: 48px;
  margin-bottom: -40px;
}
.food {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  color: #f40469;
}
.sign {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 600px) {
  .nav {
    padding: 0px 20px;
   
  }
  .food{
    font-size: 25px;
  }
  .sign{
    font-size: 18px;
  }
}
@media  ( min-width:602px)and (max-width:1000px) {
  .nav {
    padding: 0px 50px;
  }
}
@media (min-width: 1200px) {
  .nav {
    padding: 0px 70px;
  }
}


