.wk-cont {
  padding: 30px 30px;
}
.wk {
  display: flex;
}
.wk-text {
  padding: 0 30px;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #f40469;
}
.wk-box {
  background-image: url("../../assets/uj.png");
  background-repeat: no-repeat;
  height: 360px;
  width: 288px;
  margin-left: 180px;
}
.wk-titl {
  font-size: 18px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f40469;

}
.wk-tx {
  font-size: 16px;
  padding: 35px ;
  text-align: center;
  margin-left: -160px;
}

@media (max-width:375px) {
  .wk{
    flex-direction: column;
  }
  .wk-box {
    height: 360px;
    width: 188px;
    margin-left: 140px;
  }
}